html, body {
  height: 100%;
  color: #61DAFB;
  background: #2D2D2D;
}

h1 {
  margin: 20px 0 15px 0;  
}

#main {
  width: 800px;
  margin: 0 auto;
  text-align: left;
}

ul {
  list-style: none;
  background-color: #F5F5F5;
}

ul>li:hover {
  background-color: #F5F5F5;
}

.form-inline .form-control {
  width: 50%;
  margin-left: 80px;
}

.done {
  text-align: left;
  font-size: 20px;
  color: red;
  text-decoration: line-through!important;
}

.undone {
  text-align: left;
  font-size: 20px;
  color: rgb(1, 30, 252);
}

.icon {
  margin: 6px 10px 6px 0;
}

.answer {
  font-size: 25px;
  color: rgb(40, 176, 56);
}

.type {
  font-size: 40px;
}

.question {
  font-size: 25px;
}
